<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Accounts</title>
  </head>
  <body>
    <form action="/accounts" method="get">
      <div>
        <label for="account">Account:</label>
        {{ $number := .Form.Account }}
        <select name="account">
          <option value="" {{ if eq $number "" }} selected {{ end }}>All</option>
          {{ range .AccountContent }}
            <option value="{{ .Account.Number }}" {{ if eq $number .Account.Number }} selected {{ end }} >{{ .Account.Number }}</option>
          {{ end }}
        </select>
      </div>
      <div>
        <label for="transaction_type">Type:</label>
        {{ $type := .Form.Type }}
        <select name="transaction_type">
          <option value="" {{ if eq $type "" }} selected {{ end }}>All</option>
          <option value="1" {{ if eq $type "1" }} selected {{ end }}>Credit</option>
          <option value="2" {{ if eq $type "2" }} selected {{ end }}>Debit</option>
        </select>
      </div>
      <div>
        <label for="tags">Tags</label>
        <input type="text" name="tags" value="{{- range $index, $element := .Form.Tags -}}{{if $index}}, {{end}}{{ $element }} {{- end -}}">
      </div>
      <div>
        <label for="start">From</label>
        <input type="date" name="start" value="{{ .Form.Start }}">
      </div>
      <div>
        <label for="end">To</label>
        <input type="date" name="end" value="{{ .Form.End }}">
      </div>
      <input type="submit" value="Search" />
      <a href="/accounts">Reset</a>
    </form>
    {{ range .AccountContent }}
    <div>
      <strong>Summary:</strong>
      <ul>
        {{ range .TagCosts }}
          <li><strong>{{ .Name }}</strong>({{ .Count }}) {{ .Total }}</li>
        {{ end }}
      </ul>
    </div>

    <table>
      <caption>
        {{.Account.Number}} ({{.Account.Type}})
      </caption>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Tags</th>
        </tr>
        <tr>
          <th colspan="5">{{ .Total }}</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Transactions }}
        <tr>
          <td>
            {{ .Date.Format "Jan 02" }}
          </td>
          <td>
            {{ if .Alias }}
              {{ .Alias }}:
            {{ else }}
              {{ .Title }}:
            {{ end }}
          </td>
          <td>
            {{ .Type }}
          </td>
          <td>
            {{ .Amount }}
          </td>
          <td>
            {{- range $index, $element := .Tags -}}
              {{if $index}}, {{end}}
              {{ $element }}
            {{- end -}}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
  </body>
</html>
