<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Accounts</title>
  </head>
  <body>
    <form action="/accounts" method="get">
      <div>
        <label for="account">Account:</label>
        {{ $number := .Form.Account }}
        <select name="account">
          <option value="" {{ if eq $number ""}} selected {{ end }}>All</option>
          {{ range .AccountContent }}
            <option value="{{ .Account.Number }}" {{ if eq $number .Account.Number }} selected {{ end }} >{{ .Account.Number }}</option>
          {{ end }}
        </select>
      </div>
      <div>
        <label for="start">From</label>
        <input type="date" name="start" value="{{ .Form.Start }}">
      </div>
      <div>
        <label for="end">To</label>
        <input type="date" name="end" value="{{ .Form.End }}">
      </div>
      <input type="submit" value="Search" />
    </form>
    {{ range .AccountContent }}
    <h3>{{.Account.Number}} ({{.Account.Type}})</h3>
    <div>
      <strong>Total:</strong> {{ currency .Total }}
    </div>
    <ul>
      {{ range .Transactions }}
      <li>
        {{ .Date.Format "Jan 02" }} -
        {{ if .Alias }}
          {{ .Alias }}:
        {{ else }}
          {{ .Title }}:
        {{ end }}
        {{ currency .Amount }}
        {{ if .Tags }}
          {{.Tags}}
        {{ end }}
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </body>
</html>
