{{define "content"}}
  <h1>{{ if .ID }}Edit {{ else }} New {{ end }} Tag</h1>
  <form action="/tags/" method="post">
    <input type="hidden" name="id" value="{{ .ID }}" />
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" value="{{ .Name }}"/>
    </div>
    <div>
      <label for="budget">Monthly Budget</label>
      <input type="text" name="monthly_budget" value='{{ .MonthlyBudget }}' />
    </div>
    <div>
      <input type="submit" value="Save" />
    </div>
  </form>
{{ end }}
